.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}



.about-me {
    background-color:rgb(255, 255, 255);
    padding: 30px;
    box-sizing: border-box;
}
  
.container.my-description {
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: .25rem;
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
}
  
.col.col-md-6.bg-full {
    background-image: url("/assets/img-perfil.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: .25rem;  
    border-bottom-left-radius: .25rem;  
        
  }
  
.card.my-description {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 0px;
    font-size: 15px;
}
  
@media all and (min-width: 320px) and (max-width: 750px) {    
  .card.my-description {
        font-size: 9px;
        margin: 30px;
  }
  
  .col.col-md-6.bg-full {
        background-image: none;
        display: none;
  }
}
  
  
  
  